import { defHttp } from '@/utils/http/axios';
import { ${pascalCaseClassName}ApiResult, ${pascalCaseClassName}InsertOrUpdateForm } from './model/${pascalCaseClassName}Model';

enum Api {
  REST = '/api/v1/${kebabCaseClassName}s',
}

/**
 * ${comments}-分页列表
 */
export const list${pascalCaseClassName}Api = (queryForm: any) => {
  // 选择的是日期，补全时分秒部分
  if (queryForm.beginAt) {
    queryForm.beginAt += ' 00:00:00';
  }

  if (queryForm.endAt) {
    queryForm.endAt += ' 23:59:59';
  }

  return defHttp.get<${pascalCaseClassName}ApiResult[]>({
    url: Api.REST,
    params: queryForm,
  });
};

/**
 * ${comments}-详情
 */
export const retrieve${pascalCaseClassName}Api = (id: string) => {
  return defHttp.get<${pascalCaseClassName}ApiResult>({
    url: `${Api.REST}/${id}`,
  });
};

/**
 * ${comments}-新增
 */
export const insert${pascalCaseClassName}Api = (insertForm: ${pascalCaseClassName}InsertOrUpdateForm) => {
  return defHttp.post<void>({
    url: Api.REST,
    params: insertForm,
  });
};

/**
 * ${comments}-编辑
 */
export const update${pascalCaseClassName}Api = (id: string, updateForm: ${pascalCaseClassName}InsertOrUpdateForm) => {
  return defHttp.put<void>({
    url: `${Api.REST}/${id}`,
    params: updateForm,
  });
};

/**
 * ${comments}-删除
 */
export const delete${pascalCaseClassName}Api = (ids: string[]) => {
  return defHttp.delete<void>({
    url: Api.REST,
    params: {
      ids: ids,
    },
  });
};
