package ${packageName}.${moduleName}.model.request;


import io.swagger.v3.oas.annotations.media.Schema;
import jakarta.validation.constraints.NotBlank;
import jakarta.validation.constraints.NotNull;
import jakarta.validation.constraints.Size;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.experimental.Accessors;

import java.io.Serializable;
import java.util.List;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
#if(${hasYesOrNoEnum})
import cc.uncarbon.framework.helium.db.enums.YesOrNoEnum;
#end
#if(${hasEnabledStatusEnum})
import cc.uncarbon.framework.helium.db.enums.EnabledStatusEnum;
#end

/**
 * ${comments}-后台管理-新增/修改
 */
@Accessors(chain = true)
@AllArgsConstructor
@NoArgsConstructor
@Data
public class Admin${pascalCaseClassName}UpsertRequest implements Serializable {

    @Schema(description = "主键ID", title = "仅修改时使用")
    private Long id;
#foreach ($column in $columns)
#if($column.columnName != $pk.columnName
    && $column.columnName != "tenant_id"
    && $column.columnName != "del_flag"
    && $column.columnName != "created_at"
    && $column.columnName != "created_by"
    && $column.columnName != "updated_at"
    && $column.columnName != "updated_by"
)

    @Schema(description = "${column.comments}"#if(!$column.nullable), requiredMode = Schema.RequiredMode.REQUIRED#end)
#if($column.attrType == 'String' && $column.characterMaximumLength != 0)
    @Size(max = $column.characterMaximumLength, message = "${column.comments}最长{max}位")
#end
#if(!$column.nullable)
#if($column.attrType == 'String')
    @NotBlank(message = "${column.comments}必填")
#else
    @NotNull(message = "${column.comments}必填")
#end
#end
    private $column.attrType $column.camelAttrName;
#end
#end

}
