package ${packageName}.adminapi.controller.${moduleName};


import cc.uncarbon.framework.helium.base.constant.PermissionPattern;
import cc.uncarbon.framework.helium.base.page.PageResult;
import cc.uncarbon.framework.helium.web.model.response.ApiResult;
import ${packageName}.commons.constant.ApiPathPrefix;
import ${packageName}.commons.model.request.IdRequest;
import ${packageName}.commons.model.request.IdsRequest;
import ${packageName}.commons.satoken.StpLoginType;
import ${packageName}.${moduleName}.model.query.Admin${pascalCaseClassName}ListQuery;
import ${packageName}.${moduleName}.model.request.Admin${pascalCaseClassName}UpsertRequest;
import ${packageName}.${moduleName}.model.valueobj.${pascalCaseClassName}DTO;
import ${packageName}.${moduleName}.service.${pascalCaseClassName}Service;
import cn.dev33.satoken.annotation.SaCheckLogin;
import cn.dev33.satoken.annotation.SaCheckPermission;
import io.swagger.v3.oas.annotations.Operation;
import io.swagger.v3.oas.annotations.tags.Tag;
import jakarta.validation.Valid;
import lombok.RequiredArgsConstructor;
import lombok.extern.slf4j.Slf4j;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

@SaCheckLogin(type = StpLoginType.ADMIN)
@Tag(name = "后台管理-${comments}管理")
#if(${onStandaloneArch})
@RequestMapping(value = ApiPathPrefix.ADMIN + "/v1/${moduleName}/${kebabCaseClassName}")
#end
@RequiredArgsConstructor
@RestController
@Slf4j
public class Admin${pascalCaseClassName}Controller {

    // 功能权限串前缀
    private static final String PERMISSION_PREFIX = "${pascalCaseClassName}:";
#if(${onStandaloneArch})

    private final ${pascalCaseClassName}Service ${camelCaseClassName}Service;
#end


    @SaCheckPermission(type = StpLoginType.ADMIN, value = PERMISSION_PREFIX + PermissionPattern.READ)
    @Operation(summary = "分页查询")
    @PostMapping(value = "/list")
    public ApiResult<PageResult<${pascalCaseClassName}DTO>> list(@RequestBody @Valid Admin${pascalCaseClassName}ListQuery query) {
#if(${onStandaloneArch})
        return ApiResult.success(${camelCaseClassName}Service.adminList(query));
#end
    }

    @SaCheckPermission(type = StpLoginType.ADMIN, value = PERMISSION_PREFIX + PermissionPattern.READ)
    @Operation(summary = "详情")
    @PostMapping(value = "/detail")
    public ApiResult<${pascalCaseClassName}DTO> detail(@RequestBody @Valid IdRequest<Long> request) {
#if(${onStandaloneArch})
        return ApiResult.success(${camelCaseClassName}Service.getNonnullById(request.getId()));
#end
    }

    @SaCheckPermission(type = StpLoginType.ADMIN, value = PERMISSION_PREFIX + PermissionPattern.CREATE)
    @Operation(summary = "新增")
    @PostMapping(value = "/create")
    public ApiResult<Void> create(@RequestBody @Valid Admin${pascalCaseClassName}UpsertRequest request) {
#if(${onStandaloneArch})
        ${camelCaseClassName}Service.adminCreate(request);
#end
        return ApiResult.success();
    }

    @SaCheckPermission(type = StpLoginType.ADMIN, value = PERMISSION_PREFIX + PermissionPattern.UPDATE)
    @Operation(summary = "修改")
    @PostMapping(value = "/update")
    public ApiResult<Void> update(@RequestBody @Valid Admin${pascalCaseClassName}UpsertRequest request) {
#if(${onStandaloneArch})
        ${camelCaseClassName}Service.adminUpdate(request);
#end
        return ApiResult.success();
    }

    @SaCheckPermission(type = StpLoginType.ADMIN, value = PERMISSION_PREFIX + PermissionPattern.DELETE)
    @Operation(summary = "删除")
    @PostMapping(value = "/delete")
    public ApiResult<Void> delete(@RequestBody @Valid IdsRequest<Long> request) {
#if(${onStandaloneArch})
        ${camelCaseClassName}Service.adminDelete(request.getIds());
#end
        return ApiResult.success();
    }

}
