package ${packageName}.adminapi.controller.${moduleName};


@SaCheckLogin(type = StpLoginType.ADMIN)
@Tag(name = "后台管理-${comments}管理")
#if(${onStandaloneArch})
@RequestMapping(AdminApiConstant.HTTP_API_URL_PREFIX + "/api/v1/${moduleName}/${kebabCaseClassName}")
#end
@RequiredArgsConstructor
@RestController
@Slf4j
public class Admin${pascalCaseClassName}Controller {

    // 功能权限串前缀
    private static final String PERMISSION_PREFIX = "${pascalCaseClassName}:";
#if(${onStandaloneArch})

    private final ${pascalCaseClassName}Service ${camelCaseClassName}Service;
#end


    @SaCheckPermission(type = StpLoginType.ADMIN, value = PERMISSION_PREFIX + PermissionPattern.READ)
    @Operation(summary = "分页查询")
    @PostMapping(value = "/list")
    public ApiResult<PageResult<${pascalCaseClassName}DTO>> list(@RequestBody @Valid Admin${pascalCaseClassName}ListQuery query) {
#if(${onStandaloneArch})
        return ApiResult.success(${camelCaseClassName}Service.adminList(query));
#end
    }

    @SaCheckPermission(type = StpLoginType.ADMIN, value = PERMISSION_PREFIX + PermissionPattern.READ)
    @Operation(summary = "详情")
    @PostMapping(value = "/detail")
    public ApiResult<${pascalCaseClassName}DTO> detail(@RequestBody @Valid IdRequest<Long> request) {
#if(${onStandaloneArch})
        return ApiResult.success(${camelCaseClassName}Service.getNonnullById(request.getId()));
#end
    }

    @SaCheckPermission(type = StpLoginType.ADMIN, value = PERMISSION_PREFIX + PermissionPattern.CREATE)
    @Operation(summary = "新增")
    @PostMapping(value = "/create")
    public ApiResult<Void> create(@RequestBody @Valid Admin${pascalCaseClassName}UpsertRequest request) {
#if(${onStandaloneArch})
        ${camelCaseClassName}Service.adminCreate(request);
#end
        return ApiResult.success();
    }

    @SaCheckPermission(type = StpLoginType.ADMIN, value = PERMISSION_PREFIX + PermissionPattern.UPDATE)
    @Operation(summary = "修改")
    @PostMapping(value = "/update")
    public ApiResult<Void> update(@RequestBody @Valid Admin${pascalCaseClassName}UpsertRequest request) {
#if(${onStandaloneArch})
        ${camelCaseClassName}Service.adminUpdate(request);
#end
        return ApiResult.success();
    }

    @SaCheckPermission(type = StpLoginType.ADMIN, value = PERMISSION_PREFIX + PermissionPattern.DELETE)
    @Operation(summary = "删除")
    @PostMapping(value = "/delete")
    public ApiResult<Void> delete(@RequestBody @Valid IdsRequest<Long> request) {
#if(${onStandaloneArch})
        ${camelCaseClassName}Service.adminDelete(request.getIds());
#end
        return ApiResult.success();
    }

}
