package ${packageName}.${moduleName}.model.query;


import cc.uncarbon.framework.helium.base.page.PageParam;
import cc.uncarbon.framework.helium.base.page.PageQuery;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.experimental.Accessors;

import java.io.Serializable;
import java.time.LocalDateTime;
import java.util.List;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
#if(${hasYesOrNoEnum})
import cc.uncarbon.framework.helium.db.enums.YesOrNoEnum;
#end
#if(${hasEnabledStatusEnum})
import cc.uncarbon.framework.helium.db.enums.EnabledStatusEnum;
#end

/**
 * ${comments}-后台管理-分页查询
 */
@Accessors(chain = true)
@AllArgsConstructor
@NoArgsConstructor
@Data
public class Admin${pascalCaseClassName}ListQuery implements Serializable, PageQuery {

    @Schema(description = "分页查询参数")
    private PageParam pageParam;

    @Schema(description = "时间区间起")
    private LocalDateTime beginAt;

    @Schema(description = "时间区间止")
    private LocalDateTime endAt;
#if(${useQueryFormSchema})
#foreach ($column in $columns)
#if($column.columnName != $pk.columnName
    && $column.columnName != "tenant_id"
    && $column.columnName != "del_flag"
    && $column.columnName != "created_at"
    && $column.columnName != "created_by"
    && $column.columnName != "updated_at"
    && $column.columnName != "updated_by"
)

    @Schema(description = "$column.comments")
    private $column.attrType $column.camelAttrName;
#end
#end
#end

}
