package ${packageName}.${moduleName}.model.valueobj;


import io.swagger.v3.oas.annotations.media.Schema;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.experimental.Accessors;

import java.io.Serializable;
import java.time.LocalDateTime;
import java.util.List;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
#if(${hasYesOrNoEnum})
import cc.uncarbon.framework.helium.db.enums.YesOrNoEnum;
#end
#if(${hasEnabledStatusEnum})
import cc.uncarbon.framework.helium.db.enums.EnabledStatusEnum;
#end

/**
 * ${comments}
 */
@Accessors(chain = true)
@AllArgsConstructor
@NoArgsConstructor
@Data
public class ${pascalCaseClassName}DTO implements Serializable {

    @Schema(description = "主键ID")
    private Long id;

    @Schema(description = "创建时刻")
    private LocalDateTime createdAt;

    @Schema(description = "更新时刻")
    private LocalDateTime updatedAt;
#foreach ($column in $columns)
#if($column.columnName != $pk.columnName
    && $column.columnName != "tenant_id"
    && $column.columnName != "del_flag"
    && $column.columnName != "created_at"
    && $column.columnName != "created_by"
    && $column.columnName != "updated_at"
    && $column.columnName != "updated_by"
    )

    @Schema(description = "$column.comments")
    private $column.attrType $column.camelAttrName;
#end
#end

}
