package ${packageName}.${moduleName}.dal.entity;


import cc.uncarbon.framework.helium.db.entity.AbstractTenantGenericEntity;
import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.NoArgsConstructor;
import lombok.experimental.Accessors;

import java.io.Serial;
import java.util.List;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
#if(${hasYesOrNoEnum})
import cc.uncarbon.framework.helium.db.enums.YesOrNoEnum;
#end
#if(${hasEnabledStatusEnum})
import cc.uncarbon.framework.helium.db.enums.EnabledStatusEnum;
#end

/**
 * ${comments}
 */
@EqualsAndHashCode(callSuper = true)
@Accessors(chain = true)
@AllArgsConstructor
@NoArgsConstructor
@Data
@TableName(value = "${tableName}")
public class ${pascalCaseClassName}Entity extends AbstractTenantGenericEntity {

    @Serial
    private static final long serialVersionUID = 1L;


    @Schema(description = "主键ID")
    @TableId(type = IdType.ASSIGN_ID)
    private Long id;
#foreach ($column in $columns)
#if($column.columnName != $pk.columnName
&& $column.columnName != "tenant_id"
&& $column.columnName != "del_flag"
&& $column.columnName != "created_at"
&& $column.columnName != "created_by"
&& $column.columnName != "updated_at"
&& $column.columnName != "updated_by"
)

    @Schema(description = "$column.comments")
    @TableField(value = "$column.columnName")
    private $column.attrType $column.camelAttrName;
#end
#end

}
