package ${package}.${moduleName}.biz;

import cc.uncarbon.framework.core.constant.HelioConstant;
import cc.uncarbon.framework.core.exception.BusinessException;
import cc.uncarbon.framework.core.page.PageParam;
import cc.uncarbon.framework.core.page.PageResult;
import ${package}.${moduleName}.facade.${className}Facade;
import ${package}.${moduleName}.model.request.AdminInsertOrUpdate${className}DTO;
import ${package}.${moduleName}.model.request.AdminList${className}DTO;
import ${package}.${moduleName}.model.response.${className}BO;
import ${package}.${moduleName}.service.${className}Service;
import lombok.RequiredArgsConstructor;
import lombok.extern.slf4j.Slf4j;
import org.apache.dubbo.config.annotation.DubboService;

import java.util.Collection;


/**
 * ${comments} Facade 接口实现类
 *
 * @author ${author}
 */
@Slf4j
@DubboService(
        version = HelioConstant.Version.DUBBO_VERSION_V1,
        validation = HelioConstant.Dubbo.ENABLE_VALIDATION,
        timeout = HelioConstant.Dubbo.TIMEOUT,
        retries = HelioConstant.Dubbo.RETRIES
)
@RequiredArgsConstructor
public class ${className}FacadeImpl implements ${className}Facade {

    private final ${className}Service ${classname}Service;


    @Override
    public PageResult<${className}BO> adminList(PageParam pageParam, AdminList${className}DTO dto) {
        return ${classname}Service.adminList(pageParam, dto);
    }

    @Override
    public ${className}BO getOneById(Long id) {
        return ${classname}Service.getOneById(id);
    }

    @Override
    public ${className}BO getOneById(Long id, boolean throwIfInvalidId) throws BusinessException {
        return ${classname}Service.getOneById(id, throwIfInvalidId);
    }

    @Override
    public Long adminInsert(AdminInsertOrUpdate${className}DTO dto) {
        return ${classname}Service.adminInsert(dto);
    }

    @Override
    public void adminUpdate(AdminInsertOrUpdate${className}DTO dto) {
        ${classname}Service.adminUpdate(dto);
    }

    @Override
    public void adminDelete(Collection<Long> ids) {
        ${classname}Service.adminDelete(ids);
    }

}
