package ${packageName}.${moduleName}.dal.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;
import ${packageName}.${moduleName}.dal.entity.${pascalCaseClassName}Entity;


/**
 * ${comments}
 */
@Mapper
public interface ${pascalCaseClassName}Mapper extends BaseMapper<${pascalCaseClassName}Entity> {

}
