package ${packageName}.${moduleName}.service;

import cc.uncarbon.framework.helium.base.page.PageResult;
import ${packageName}.commons.exception.NoRecordException;
import ${packageName}.${moduleName}.model.query.Admin${pascalCaseClassName}ListQuery;
import ${packageName}.${moduleName}.model.request.Admin${pascalCaseClassName}UpsertRequest;
import ${packageName}.${moduleName}.model.valueobj.${pascalCaseClassName}DTO;

import java.util.Collection;

/**
 * ${comments}
 */
public interface ${pascalCaseClassName}Service {

    /**
     * 后台管理-分页查询
     */
    PageResult<${pascalCaseClassName}DTO> adminList(Admin${pascalCaseClassName}ListQuery query);

    /**
     * 后台管理-新增
     */
    Long adminCreate(Admin${pascalCaseClassName}UpsertRequest request);

    /**
     * 后台管理-修改
     */
    void adminUpdate(Admin${pascalCaseClassName}UpsertRequest request);

    /**
     * 后台管理-删除
     */
    void adminDelete(Collection<Long> ids);

    /**
     * 根据 ID 取详情
     */
    ${pascalCaseClassName}DTO getById(Long id);

    /**
     * 根据 ID 取详情，未取到会抛出 {@link NoRecordException}
     */
    ${pascalCaseClassName}DTO getNonnullById(Long id) throws NoRecordException;

}
