package ${packageName}.${moduleName}.service.impl;


import cc.uncarbon.framework.helium.base.page.PageResult;
import ${packageName}.commons.exception.NoRecordException;
import ${packageName}.${moduleName}.dal.entity.${pascalCaseClassName}Entity;
import ${packageName}.${moduleName}.dal.mapper.${pascalCaseClassName}Mapper;
import ${packageName}.${moduleName}.model.query.Admin${pascalCaseClassName}ListQuery;
import ${packageName}.${moduleName}.model.request.Admin${pascalCaseClassName}UpsertRequest;
import ${packageName}.${moduleName}.model.valueobj.${pascalCaseClassName}DTO;
import ${packageName}.${moduleName}.service.${pascalCaseClassName}Service;
import cn.hutool.core.bean.BeanUtil;
import cn.hutool.core.collection.CollUtil;
import cn.hutool.core.text.CharSequenceUtil;
import com.baomidou.mybatisplus.core.conditions.query.LambdaQueryWrapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import lombok.RequiredArgsConstructor;
import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import java.util.Collection;
import java.util.Objects;
import java.util.List;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
#if(${hasYesOrNoEnum})
import cc.uncarbon.framework.helium.db.enums.YesOrNoEnum;
#end
#if(${hasEnabledStatusEnum})
import cc.uncarbon.framework.helium.db.enums.EnabledStatusEnum;
#end

/**
 * ${comments}
 */
@RequiredArgsConstructor
@Service
@Slf4j
public class ${pascalCaseClassName}ServiceImpl implements ${pascalCaseClassName}Service {

    private final ${pascalCaseClassName}Mapper ${camelCaseClassName}Mapper;


    @Override
    public PageResult<${pascalCaseClassName}DTO> adminList(Admin${pascalCaseClassName}ListQuery query) {
        Page<${pascalCaseClassName}Entity> entityPage = ${camelCaseClassName}Mapper.selectPage(
                new Page<>(query.getPageNum(), query.getPageSize()),
                new LambdaQueryWrapper<${pascalCaseClassName}Entity>()
#if(${useQueryFormSchema})
#foreach ($column in $columns)
#if($column.columnName != $pk.columnName
&& $column.columnName != "tenant_id"
&& $column.columnName != "del_flag"
&& $column.columnName != "created_at"
&& $column.columnName != "created_by"
&& $column.columnName != "updated_at"
&& $column.columnName != "updated_by"
)
                        // $column.comments
#if($column.attrType == 'String')
                        .like(CharSequenceUtil.isNotBlank(query.get${column.pascalAttrName}()), ${pascalCaseClassName}Entity::get$column.pascalAttrName, CharSequenceUtil.cleanBlank(query.get${column.pascalAttrName}()))
#else
                        .eq(Objects.nonNull(query.get${column.pascalAttrName}()), ${pascalCaseClassName}Entity::get$column.pascalAttrName, query.get${column.pascalAttrName}())
#end
#end
#end
#end
                        // 时间区间
                        .between(Objects.nonNull(query.getBeginAt()) && Objects.nonNull(query.getEndAt()), ${pascalCaseClassName}Entity::getCreatedAt, query.getBeginAt(), query.getEndAt())
                        // 排序
                        .orderByDesc(${pascalCaseClassName}Entity::getId)
        );

        return convertPage(entityPage);
    }

    @Transactional(rollbackFor = Exception.class)
    @Override
    public Long adminCreate(Admin${pascalCaseClassName}UpsertRequest request) {
        checkRepeat(request);

        request.setId(null);
        var entity = new ${pascalCaseClassName}Entity();
        BeanUtil.copyProperties(request, entity);

        ${camelCaseClassName}Mapper.insert(entity);
        return entity.getId();
    }

    @Transactional(rollbackFor = Exception.class)
    @Override
    public void adminUpdate(Admin${pascalCaseClassName}UpsertRequest request) {
        checkRepeat(request);

        var entity = new ${pascalCaseClassName}Entity();
        BeanUtil.copyProperties(request, entity);

        ${camelCaseClassName}Mapper.updateById(entity);
    }

    @Transactional(rollbackFor = Exception.class)
    @Override
    public void adminDelete(Collection<Long> ids) {
        ${camelCaseClassName}Mapper.deleteByIds(ids);
    }

    @Override
    public ${pascalCaseClassName}DTO getById(Long id) {
        if (id == null) return null;
        var entity = ${camelCaseClassName}Mapper.selectById(id);
        return convertEntity(entity);
    }

    @Override
    public ${pascalCaseClassName}DTO getNonnullById(Long id) throws NoRecordException {
        return NoRecordException.throwIfNull(getById(id));
    }


    /*
    ----------------------------------------------------------------
                        私有方法 private methods
    ----------------------------------------------------------------
     */

    /**
     * 实体转值对象
     */
    private ${pascalCaseClassName}DTO convertEntity(${pascalCaseClassName}Entity entity) {
        if (entity == null) return null;

        var ret = new ${pascalCaseClassName}DTO();
        BeanUtil.copyProperties(entity, ret);
        // 按需改写字段
        return ret;
    }

    /**
     * 实体转值对象
     */
    private List<${pascalCaseClassName}DTO> convertList(List<${pascalCaseClassName}Entity> entityList) {
        if (CollUtil.isEmpty(entityList)) {
            return List.of();
        }
        return entityList.stream().map(this::convertEntity).toList();
    }

    /**
     * 实体转值对象
     */
    private PageResult<${pascalCaseClassName}DTO> convertPage(Page<${pascalCaseClassName}Entity> entityPage) {
        return new PageResult<${pascalCaseClassName}DTO>()
                .setCurrent(entityPage.getCurrent())
                .setSize(entityPage.getSize())
                .setTotal(entityPage.getTotal())
                .setRecords(convertList(entityPage.getRecords()));
    }

    /**
     * 检查是否存在重复
     */
    private void checkRepeat(Admin${pascalCaseClassName}UpsertRequest request) {
        /*
        视业务解禁、修改本段代码
        var entity = ${camelCaseClassName}Mapper.selectOne(new LambdaQueryWrapper<${pascalCaseClassName}Entity>()
                // 仅取主键ID
                .select(${pascalCaseClassName}Entity::getId)
                // 并非原地更新
                .ne(Objects.nonNull(request.getId()), ${pascalCaseClassName}Entity::getId, request.getId())
                // 编码相同
                .eq(${pascalCaseClassName}Entity::getCode, request.getCode())
                .last(SQLSegment.LIMIT_1)
        );

        if (entity != null) {
            throw new HasRepeatRecordException("已存在相同的编码");
        }
        */
    }

}
