package ${package}.${moduleName}.service;

import cc.uncarbon.framework.core.exception.BusinessException;
import cc.uncarbon.framework.core.page.PageParam;
import cc.uncarbon.framework.core.page.PageResult;
#if(${serviceAndImplFlag} && !${serviceInterfaceNoExtends})
import cc.uncarbon.framework.crud.service.HelioBaseService;
import ${package}.${moduleName}.entity.${className}Entity;
#end
import ${package}.${moduleName}.model.request.Admin${className}InsertOrUpdateDTO;
import ${package}.${moduleName}.model.request.Admin${className}ListDTO;
import ${package}.${moduleName}.model.response.${className}BO;

import java.util.Collection;


/**
 * ${comments}
 */
public interface ${className}Service#if(${serviceAndImplFlag} && !${serviceInterfaceNoExtends}) extends HelioBaseService<${className}Entity>#end {

    /**
     * 后台管理-分页列表
     */
    PageResult<${className}BO> adminList(PageParam pageParam, Admin${className}ListDTO dto);

    /**
     * 根据 ID 取详情
     *
     * @param id 主键ID
     * @return null or BO
     */
    ${className}BO getOneById(Long id);

    /**
     * 根据 ID 取详情
     *
     * @param id 主键ID
     * @param throwIfInvalidId 是否在 ID 无效时抛出异常
     * @return null or BO
     */
    ${className}BO getOneById(Long id, boolean throwIfInvalidId) throws BusinessException;

    /**
     * 后台管理-新增
     * @return 主键ID
     */
    Long adminInsert(Admin${className}InsertOrUpdateDTO dto);

    /**
     * 后台管理-编辑
     */
    void adminUpdate(Admin${className}InsertOrUpdateDTO dto);

    /**
     * 后台管理-删除
     * @param ids 主键ID集合
     */
    void adminDelete(Collection<Long> ids);

}
