package ${package}.test;

import cc.uncarbon.framework.core.constant.HelioConstant;
import cc.uncarbon.framework.core.context.TenantContext;
import cc.uncarbon.framework.core.context.UserContext;
import cc.uncarbon.framework.core.context.UserContextHolder;
import cc.uncarbon.framework.core.page.PageParam;
import cc.uncarbon.framework.core.page.PageResult;
import cn.hutool.core.collection.CollUtil;
import ${package}.HelioBootApplication;
import ${package}.${moduleName}.model.request.Admin${className}InsertOrUpdateDTO;
import ${package}.${moduleName}.model.request.Admin${className}ListDTO;
import ${package}.${moduleName}.model.response.${className}BO;
import ${package}.${moduleName}.service.${className}Service;
import lombok.extern.slf4j.Slf4j;
import org.junit.jupiter.api.*;
import org.springframework.boot.test.context.SpringBootTest;

import jakarta.annotation.Resource;
import java.util.ArrayList;
import java.util.List;

//                      👇 这里需要改成相应启动类 👇
@SpringBootTest(classes = HelioBootApplication.class)
@Slf4j
class ${className}UnitTest {

    @Resource
    private ${className}Service ${classname}Service;


    /**
     * 单元测试-初始化
     */
    @BeforeAll
    public static void init() {
        // 可以在这里进行初始化操作, 如设置用户上下文等
        UserContextHolder.setUserContext(
                UserContext.builder()
                        .userId(1L)
                        .userName("admin")
                        .build()
        );

        // 指定租户
        /*TenantContextHolder.setTenantContext(
                new TenantContext()
                        .setTenantId()
                        .setTenantName()
        );*/
    }

    /**
     * 单元测试-分页列表
     */
    // 在测试方法上追加 @org.junit.jupiter.api.Order 注解可以控制单元测试的执行顺序
    @Test
    void testAdminList() {
        PageResult<${className}BO> pageResult = ${classname}Service.adminList(
                new PageParam(1, 10),
                Admin${className}ListDTO.builder()

                        .build()
        );

        log.info("\n\n\n分页列表成功 >> 结果={}", pageResult);
    }

    /**
     * 单元测试-后台新增
     */
    @Test
    void testAdminInsert() {
        Long entityId = ${classname}Service.adminInsert(
                Admin${className}InsertOrUpdateDTO.builder()
#foreach ($column in $columns)
#if($column.columnName != $pk.columnName
&& $column.columnName != "tenant_id"
&& $column.columnName != "revision"
&& $column.columnName != "del_flag"
&& $column.columnName != "created_at"
&& $column.columnName != "created_by"
&& $column.columnName != "updated_at"
&& $column.columnName != "updated_by"
)
                        // ${column.comments}
                        .${column.camelAttrName}(null)
#end
#end
                        .build()
        );

        log.info("\n\n\n新增成功 >> 新主键ID={}", entityId);
    }

    /**
     * 单元测试-后台更新
     */
    @Test
    void testAdminUpdate() {
        Admin${className}InsertOrUpdateDTO dto = Admin${className}InsertOrUpdateDTO.builder()
#foreach ($column in $columns)
#if($column.columnName != "tenant_id"
&& $column.columnName != "revision"
&& $column.columnName != "del_flag"
&& $column.columnName != "created_at"
&& $column.columnName != "created_by"
&& $column.columnName != "updated_at"
&& $column.columnName != "updated_by"
)
                // ${column.comments}
                .${column.camelAttrName}(null)
#end
#end
                .build();
        ${classname}Service.adminUpdate(dto);

        log.info("\n\n\n更新完成 >> dto={}", dto);
    }

    /**
     * 单元测试-后台删除
     */
    @Test
    void testAdminDelete() {
        // 主键ID列表
        List<Long> ids = CollUtil.newArrayList(1L, 2L, 3L);
        ${classname}Service.adminDelete(ids);

        log.info("\n\n\n删除完成 >> ids={}", ids);
    }
}
