<!DOCTYPE html>
<html>
<head>
<title>代码生成器</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="css/main.css">
<script src="libs/jquery.min.js"></script>
<script src="plugins/layer/layer.js"></script>
<script src="libs/bootstrap.min.js"></script>
<script src="libs/vue.min.js"></script>
<script src="plugins/jqgrid/grid.locale-cn.js"></script>
<script src="plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="js/common.js"></script>
</head>
<body>
<div id="app">
	<div class="grid-btn">
		<div class="form-group col-sm-2">
			<input type="text" class="form-control" v-model="q.tableName" @keyup.enter="query" placeholder="表名">
		</div>
		<a class="btn btn-default" @click="query">查询</a>
		<a class="btn btn-primary" @click="generator"><i class="fa fa-file-code-o"></i>&nbsp;生成代码</a>
	</div>
	<div id="generate-options">
		<div style="height: 10px" data-note="PLACEHOLDER"></div>

		<div>
			脚手架版本：
			<label>
				<input name="generate-type" type="radio" v-model="q.generateType" value="boot" />
				生成单体Boot版
			</label>

			<label>
				<input name="generate-type-cloud" type="radio" v-model="q.generateType" value="cloud" />
				生成微服务Cloud版
			</label>
		</div>

		<div>
			其他选项：
			<label>
				<input name="generate-option-queryFormSchema" type="checkbox"
					   v-model="q.queryFormSchema" value="checked" />
				生成分页列表查询条件
			</label>
		</div>
	</div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
</div>

<script src="js/generator.js"></script>
</body>

<style>
	#generate-options {
		min-width: 100%;
		max-width: 100%;
		width: 100%;
		padding-left: 50px;
		padding-bottom: 20px;
	}
</style>
</html>
